root = true

[*.{cs,csx}]
insert_final_newline = true

# Namespace should match folder structure
dotnet_diagnostic.IDE0130.severity = none

# Imports - Organization and Remove Unnecessary Ones
dotnet_separate_import_directive_groups = true
dotnet_diagnostic.IDE0005.severity = error

# "Do not directly await a task"
# This is a library not a GUI
dotnet_diagnostic.CA2007.severity = none

# "Validate arguments are not null"
# C# 8 Nullability makes this unnecessary
dotnet_diagnostic.CA1062.severity = none

# Globalization
# We don't do it
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1303.severity = none

# No Static Constructors
dotnet_diagnostic.CA1810.severity = none

# XML comments
# Will fix at a later date
dotnet_diagnostic.CS1591.severity = none

# Uninitialized properties - MSBuild takes care of this for us
dotnet_diagnostic.CS8618.severity = none

[{tests,obj}/**.{cs,csx}]
# Unused parameters
dotnet_diagnostic.CA1801.severity = none

# Underscores in names
dotnet_diagnostic.CA1707.severity = none